<ion-content class="ion-padding" id="login" fullscreen>
  <div id="imgwrap">
    <img src="assets/imgs/Santlogo.png" alt="Sant'alert" />
  </div>

  <ion-segment [(ngModel)]="opt" color="primary">
    <ion-segment-button value="patient">
      <ion-label>Patient</ion-label>
    </ion-segment-button>
    <ion-segment-button value="personnel">
      <ion-label>Personnel Médical</ion-label>
    </ion-segment-button>
  </ion-segment>

  <form (ngSubmit)="opt === 'patient' ? signIn() : signInPersonel()">
    <ion-input
      fill="outline"
      class="ion-margin-top"
      [label]="opt === 'patient' ? 'Nom' : 'Login'"
      labelPlacement="floating"
      type="text"
      name="username"
      [(ngModel)]="username"
    ></ion-input>

    <ion-input
      fill="outline"
      class="ion-margin-top"
      label="Mot de passe"
      labelPlacement="floating"
      type="password"
      name="password"
      [(ngModel)]="password"
    ></ion-input>

    <p class="ion-text-end">
      <ion-text color="primary" (click)="forgotPass()"><strong>Mot de passe oublié ?</strong></ion-text>
    </p>

    <div class="ion-padding ion-text-center">
      <ion-button expand="block" type="submit">
        Se connecter
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
    </div>
  </form>

  <p class="ion-text-center"><strong>Se connecter avec :</strong></p>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-button expand="block" color="primary" (click)="fbLogin()" [disabled]="!facebook.enabled">
          <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="danger" (click)="googleLogin()" disabled>
          <ion-icon slot="icon-only" name="logo-google"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <div *ngIf="userProfile" class="ion-text-center">
      <h2>Bienvenue, {{ userProfile.name }} !</h2>
    </div>

    <div class="ion-text-center ion-margin-top">
      <ion-text color="primary" (click)="signUp()">
        <strong>Nouveau dans Sant'Alert ?</strong>
      </ion-text>
    </div>
  </ion-grid>
</ion-content>
