page-agenda {

  #circle-button-top{
    position: fixed;
    top: 75%;
    left: 48%;
    width: 200%;

  }

  .aucun {
    text-transform:none;
  }

  .minuscule {
    text-transform: lowercase;
  }

  .majuscule {
    text-transform: uppercase;
  }

  .capitale {
    text-transform: capitalize;
  }
}
