<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-back-button defaultHref="/home-personnel"></ion-back-button></ion-buttons>
    <ion-title>Nouveau personnel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submit()">
    <ion-list>
      <ion-item *ngFor="let f of fields">
        <ion-input
          [label]="f.label"
          labelPlacement="floating"
          [type]="f.type || 'text'"
          [name]="f.key"
          [(ngModel)]="model[f.key]"
        ></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" type="submit">Créer le compte</ion-button>
    </div>
  </form>
</ion-content>
