
<ion-content padding #pageContent fullscreen>
  <ion-item *ngIf="show">
  <ion-item *ngFor="let item of items" >
    <ion-row>
      <ion-col col-4>
        Date de début:
      </ion-col>
      <ion-col col-8>
        {{item.datedebut}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        Nature:
      </ion-col>
      <ion-col col-8>
        {{item.nature}}
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-4>
        Lieu:
      </ion-col>
      <ion-col col-8>
        {{item.lieu}}
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-4>
        Observation:
      </ion-col>
      <ion-col col-8>
        {{item.observation}}
      </ion-col>

    </ion-row>
    <ion-row *ngIf="item.tiers">
      <ion-col col-4>
        Tiers:
      </ion-col>
      <ion-col col-8>
        {{item.tiers}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        Date de réalisation:
      </ion-col>
      <ion-col col-8>
        {{item.datefin}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        Date de rappel 1:
      </ion-col>
      <ion-col col-8>
        {{item.datefin1}}
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col col-4>
        Date de rappel 2:
      </ion-col>
      <ion-col col-8>
        {{item.datefin2}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        Date de rappel 3:
      </ion-col>
      <ion-col col-8>
        {{item.datefin3}}
      </ion-col>
    </ion-row>

    <div *ngIf="show">
      <button ion-button  round outline block (click)="Modifier(item)">Modifier</button>
    </div>
  </ion-item>
  </ion-item>

  <div *ngIf="show">
    <button ion-button  round outline block (click)="GoBack()">Go Back</button>
  </div>


<!--
  <ion-list no-line *ngIf="edit">
    &lt;!&ndash;
//patients_id, datedebut, datefin, nature, lieu, observation, tiers
    &ndash;&gt;

    <ion-item>
      <ion-label floating>Date du jour</ion-label>
      <ion-input id="newdatedebut" round type="datetime-local" name= "newdatedebut" #newdatedebut [(ngModel)]="datedebut"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>date de fin</ion-label>
      <ion-input id="newdatefin" type="text" name= "newdatefin" #newdatefin [(ngModel)]="datefin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>nature</ion-label>
      <ion-input id="newnature" type="text" name= "newnature" #newnature [(ngModel)]="nature"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>lieu</ion-label>
      <ion-input id="newlieu" type="text" name= "newlieu" #newlieu [(ngModel)]="nature"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Observation</ion-label>
      <ion-input id="newobservation" type="text" name= "newobservation" #newobservation [(ngModel)]="observation"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>tiers</ion-label>
      <ion-input id="newtiers" type="text" name= "newtiers" #newtiers [(ngModel)]="tiers"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Coût</ion-label>
      <ion-input id="newcout" type="text" name= "newcout" #newcout [(ngModel)]="cout"></ion-input>
    </ion-item>


  </ion-list>

  <div *ngIf="edit">

    <button ion-button  round outline block (click)="Edit()">Update</button>
    &lt;!&ndash;
        <ion-icon name="create"></ion-icon>
    &ndash;&gt;
  </div>
-->

</ion-content>
<ion-footer [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
  <ion-toolbar>
    <ion-grid>
      <ion-row >
        <marquee>
          <ion-slides [slidesPerView]="4">
            <ion-slide>
              <img src="assets/imgs/slider/norvégienne.jpeg" alt="">
            </ion-slide>
            <ion-slide>
              <img src="assets/imgs/slider/archi-doc1.jpg" alt="">
            </ion-slide>
            <ion-slide>
              <img src="assets/imgs/slider/h2o.jpeg" alt="">
            </ion-slide>
            <ion-slide>
              <img src="assets/imgs/slider/nomoov.jpeg" alt="">
            </ion-slide>
          </ion-slides>
          <h6>Insertions publicitaires disponibles au 697019629 / 673230997</h6>
        </marquee>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
