page-profile-personel {

  .aucun {
    text-transform:none;
  }

  .minuscule {
    text-transform: lowercase;
  }

  .majuscule {
    text-transform: uppercase;
  }

  .capitale {
    text-transform: capitalize;
  }
}
